<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>
    Bills
  </title>
  <div th:replace="~{fragments/inventory/head}"></div>
</head>

<body class="g-sidenav-show bg-gray-200 text-xs">
  <div th:replace="~{fragments/inventory/sidenav}"></div>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <div th:replace="~{fragments/inventory/navbar}"></div>
    <!-- End Navbar -->
    <div class="content" id="output">
      <div class="container-fluid py-4">
        <div class="row mt-4">
          <div class="col-12">
            <div class="card">

              <div class="card-header">
                <h5 class="mb-0">Bills</h5>
                <p class="text-sm mb-0">
                  Bills Table.
                </p>
              </div>
              <div class="table-responsive">
                <table class="table table-flush" id="billsTable">
                  <thead class="thead-light">
                  <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Billed On
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Vendor
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Total
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Paid
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Outstanding
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Status
                    </th>
                  </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div th:replace="~{fragments/inventory/uisettings}"></div>

  <!-- Modals -->

  <div th:replace="~{fragments/inventory/modals}"></div>

  <!--   Core JS Files   -->
  <script>
    $(document).ready(function () {
      $('#pageName').text("Bills");
      $('#pageNameH6').text("Bills");
      $.ajax({
        url: '/api/inv/getAllBills', contentType: 'application/json'
      }).done(function (response) {
        $('#billsTable').DataTable({
          responsive: true, "data": response, "columns": [
            {
              "data": "billdate", "render": function (data, type, row, meta) {
                return '<p class="text-xs text-secondary mb-0">' + data + '</p>';
              }, "createdCell": function (td, cellData, rowData, row, col) {
                $(td).addClass('align-middle text-center text-sm');
              }
            }, {
              "data": "name", "render": function (data, type, row, meta) {
                return '<p class="text-xs text-secondary mb-0">' + data + '</p>';
              }, "createdCell": function (td, cellData, rowData, row, col) {
                $(td).addClass('align-middle text-center text-sm');
              }
            }, {
              "data": "amt", "render": function (data, type, row, meta) {
                return '<p class="text-xs text-secondary mb-0">' + data + '</p>';
              }, "createdCell": function (td, cellData, rowData, row, col) {
                $(td).addClass('align-middle text-center text-sm');
              }
            }, {
              "data": "paid", "render": function (data, type, row, meta) {
                return '<p class="text-xs text-secondary mb-0">' + data + '</p>';
              }, "createdCell": function (td, cellData, rowData, row, col) {
                $(td).addClass('align-middle text-center text-sm');
              }
            }, {
              "data": "pending", "render": function (data, type, row, meta) {
                return '<p class="text-xs text-secondary mb-0">' + data + '</p>';
              }, "createdCell": function (td, cellData, rowData, row, col) {
                $(td).addClass('align-middle text-center text-sm');
              }
            }, {
              "data": "status", "render": function (data, type, row, meta) {
                if (data === "Not Paid") {
                  $(row).css('background-color', 'red');
                } else if (data === "Paid") {
                  $(row).css('background-color', 'green');
                } else if (data === "Partially Paid") {
                  $(row).css('background-color', 'blue');
                }
                return '<p class="text-xs text-secondary mb-0">' + data + '</p>';
              }, "createdCell": function (td, cellData, rowData, row, col) {
                $(td).addClass('align-middle text-center text-sm');
              }
            }]
        })
      }).fail(function () {
        console.log(fail);
      })
    })
  </script>
  <script type="application/javascript" src="../inventory_assets/js/core/popper.min.js"></script>
  <script type="application/javascript" src="../inventory_assets/js/core/bootstrap.min.js"></script>
  <script type="application/javascript" src="../inventory_assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script type="application/javascript" src="../inventory_assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script type="application/javascript" src="../inventory_assets/js/plugins/chartjs.min.js"></script>
  <script type="application/javascript" src="../inventory_assets/js/material-dashboard.min.js?v=3.0.6"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- GitHub buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
</body>

</html>