<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>
    Requisition
  </title>
  <div th:replace="~{fragments/inventory/head}"></div>
</head>

<body class="g-sidenav-show bg-gray-200 text-xs">
  <div th:replace="~{fragments/inventory/sidenav}"></div>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <div th:replace="~{fragments/inventory/navbar}"></div>
    <!-- End Navbar -->
    <div class="content" id="output">
      <div class="container-fluid py-4">
        <div class="row mt-4">
          <div class="col-12">
            <div class="card">

              <div class="card-header">
                <h5 class="mb-0">Requisition</h5>
                <p class="text-sm mb-0">
                  Requisition Table.
                </p>
              </div>
              <div class=" me-3 my-3 text-end">
                <a class="btn bg-gradient-dark mb-0" th:href="@{/openAddRequisitionFragment}"><i
                        class="material-icons text-sm">add</i>&nbsp;&nbsp;Add New
                  Requisition</a>
              </div>
              <div class="table-responsive">
                <table class="table table-flush" id="requisitionTable">
                  <thead class="thead-light">
                  <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Date
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Items
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Department
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Requested By
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Cost
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Status
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Action
                    </th>
                  </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div th:replace="~{fragments/inventory/uisettings}"></div>

  <!-- Modals -->

  <div th:replace="~{fragments/inventory/modals}"></div>

  <!--   Core JS Files   -->
  <script>
    $(document).ready(function () {
      $('#pageName').text("Requisition");
      $('#pageNameH6').text("Requisition");
      $.ajax({
        url: '/api/inv/getAllRequisitions', contentType: 'application/json'
      }).done(function (response) {
        $('#requisitionTable').DataTable({
          responsive: true, "data": response, "columns": [{
            "data": "requestedOn", "render": function (data, type, row, meta) {
              return '<p class="text-xs text-secondary mb-0">' + data + '</p>';
            }, "createdCell": function (td, cellData, rowData, row, col) {
              $(td).addClass('align-middle text-center text-sm');
            }
          }, {
            "data": "items", "render": function (data, type, row, meta) {
              return '<p class="text-xs text-secondary mb-0">' + data + '</p>';
            }, "createdCell": function (td, cellData, rowData, row, col) {
              $(td).addClass('align-middle text-center text-sm');
            }
          }, {
            "data": "department", "render": function (data, type, row, meta) {
              return '<p class="text-xs text-secondary mb-0">' + data + '</p>';
            }, "createdCell": function (td, cellData, rowData, row, col) {
              $(td).addClass('align-middle text-center text-sm');
            }
          }, {
            "data": "requestedBy", "render": function (data, type, row, meta) {
              return '<p class="text-xs text-secondary mb-0">' + data + '</p>';
            }, "createdCell": function (td, cellData, rowData, row, col) {
              $(td).addClass('align-middle text-center text-sm');
            }
          }, {
            "data": "cost", "render": function (data, type, row, meta) {
              return '<p class="text-xs text-secondary mb-0">' + data + '</p>';
            }, "createdCell": function (td, cellData, rowData, row, col) {
              $(td).addClass('align-middle text-center text-sm');
            }
          }, {
            "data": "status",
            "render": function (data, type, row, meta) {
              var comparisonResult = '';
              if (data === "Pending") {
                comparisonResult = 'text-warning';
                return '<p class="text-xs ' + comparisonResult + ' mb-0">' + data + '</p>';
              } else if (data === 'Approved') {
                comparisonResult = 'text-success';
                return '<p class="text-xs ' + comparisonResult + ' mb-0">' + data + '</p>';
              } else if (data === 'Rejected') {
                comparisonResult = 'text-danger';
                return '<p class="text-xs ' + comparisonResult + ' mb-0">' + data + '</p>';
              } else if (data === 'Ordered') {
                comparisonResult = 'text-blue';
                return '<p class="text-xs ' + comparisonResult + ' mb-0">' + data + '</p>';
              }
            },
            "createdCell": function (td, cellData, rowData, row, col) {
              $(td).addClass('align-middle text-center text-sm');
            }
          }, {
            "data": "id", "render": function (data, type, row, meta) {
              if (row.status === "Pending") {
                return `
                                          <button class="btn btn-link text-secondary mb-0" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
                                            <a onclick="print('/api/inv/printRequisitionForm/${data}')" class="dropdown-item" href="javascript:;">Print</a>
                                            <a onclick="rejectRequisition('/api/inv/rejectRequisition/${data}')" class="dropdown-item" href="javascript:;">Reject</a>
                                            <a onclick="viewRequisition('${data}')" class="dropdown-item" href="javascript:;">View Details</a>
                                            <a onclick="approveRequisition('/api/inv/approveRequisition/${data}')" class="dropdown-item" href="javascript:;">Approve</a>
                                         </div>
                                            `;
              } else if (row.status === 'Approved') {
                return `
                                          <button class="btn btn-link text-secondary mb-0" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
                                            <a onclick="print('/api/inv/printRequisitionForm/${data}')" class="dropdown-item" href="javascript:;">Print</a>
                                            <a onclick="rejectRequisition('/api/inv/rejectRequisition/${data}')" class="dropdown-item" href="javascript:;">Reject</a>
                                            <a onclick="viewRequisition('${data}')" class="dropdown-item" href="javascript:;">View Details</a>
                                            <a href="/addPurchaseOrder/${data}" class="dropdown-item">Create Purchase Order</a>
                                            <a onclick="viewRequisition('${data}')" class="dropdown-item" href="javascript:;">Request for quotation</a>
                                         </div>
                                            `;
              } else if (row.status === 'Rejected') {
                return `
                                          <button class="btn btn-link text-secondary mb-0" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
                                            <a onclick="print('/api/inv/printRequisitionForm/${data}')" class="dropdown-item" href="javascript:;">Print</a>
                                         </div>
                                            `;
              } else if (row.status === 'Ordered') {
                return `
                                          <button class="btn btn-link text-secondary mb-0" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
                                            <a onclick="viewRequisition('${data}')" class="dropdown-item" href="javascript:;">View Details</a>
                                            <a onclick="print('/api/inv/printRequisitionForm/${data}')" class="dropdown-item" href="javascript:;">Print</a>
                                         </div>
                                            `;
              }
            }, "createdCell": function (td, cellData, rowData, row, col) {
              $(td).addClass('align-middle text-center text-sm');
            }
          }]
        })
      }).fail(function () {
        console.log(fail);
      })
    })
  </script>
  <script type="application/javascript" src="../inventory_assets/js/core/popper.min.js"></script>
  <script type="application/javascript" src="../inventory_assets/js/core/bootstrap.min.js"></script>
  <script type="application/javascript" src="../inventory_assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script type="application/javascript" src="../inventory_assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script type="application/javascript" src="../inventory_assets/js/plugins/chartjs.min.js"></script>
  <script type="application/javascript" src="../inventory_assets/js/material-dashboard.min.js?v=3.0.6"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- GitHub buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
</body>

</html>