<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon.png">
<link rel="icon" type="image/png" href="/assets/img/favicon.ico">
<title>
    Shule one: Payrolls
  </title>


<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
<link rel="stylesheet" type="text/css" th:href="@{/assetsbio/css/nucleo-icons.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/assetsbio/css/nucleo-svg.css}" />
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/assetsbio/css/material-dashboard.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/assetsbio/jsmuoltistepcss/MultiStep.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/assetsbio/css/stylelistview.css}" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
<link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet"/>


<style>
    .async-hide {
      opacity: 0 !important
    }
  </style>


</head>
<body class="g-sidenav-show  bg-gray-200">

<div th:replace="fragments/payroll/sidenav"></div>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

<div th:replace="fragments/payroll/header"></div>

<div class="container-fluid py-n1">
<div class="col-lg-12  mb-2">
<button type="button" data-bs-target="#payrollmodal" data-bs-toggle="modal" class="btn bg-gradient-primary mb-0 mt-0 mt-md-n9 mt-lg-0">
<i class="material-icons text-white position-relative text-md pe-2" >add</i>New payroll
</button>
</div>


<div class="row">
<div class="col-12">
<div class="card">
<div class="card-header">
<h5 class="mb-0">Payrolls</h5>
<p class="text-sm mb-n2">
List of Payrolls.
</p>
</div>



<div class="table-responsive">
<table class="table table-flush" id="payrolltable">

<thead class="thead-light">
<tr>
 
    <th style="display:none;"></th>
    <th>Payroll</th>
    <th>Date created</th>
    <th>Employees</th>
    <th>Total amount</th>
    <th>Status</th>
    <th>Change</th>
    <th>Action</th>
  
</tr>
</thead>

<tbody>

<tr th:block th:each="student: ${payrolls}">

 <td style="display:none;">
                        <span class="text-secondary" th:text="${student.activeProperty('id').getValue()}"></span>
</td>

<td class="text-xs font-weight-normal">
	<div class="d-flex align-items-center">
		<a th:onclick="getpayrolldata([[${student.activeProperty('id').getValue()}]],[[${student.activeProperty('payroll').getValue()}]]);" href="javascript:;" data-bs-target="#modalpayrolldataandreports" data-bs-toggle="modal" class="link-success"><p class="my-2 text-xs fw-bold" th:text="${student.activeProperty('payroll').getValue()}"></p></a>
	</div>
</td>			
			
<td>			
				<div class="d-flex align-items-center">
				<p class="text-xs font-weight-normal ms-2 mb-0" th:text="${student.activeProperty('Date').getValue()}"></p>
				</div>		             
</td>

<td>			
				<div class="d-flex align-items-center">
				<p class="text-xs font-weight-normal ms-2 mb-0" th:text="${student.activeProperty('Employees').getValue()}"></p>
				</div>		             
</td>

<td>			
				<div class="d-flex align-items-center">
				<p class="text-xs font-weight-bold ms-2 mb-0" th:text="${#numbers.formatDecimal(student.activeProperty('Amt').getValue(), 0, 'COMMA', 0, 'POINT')}"></p>
				</div>		             
</td>			
            
<td class="text-xs font-weight-normal">
                <div class="d-flex align-items-center" th:if="${student.activeProperty('Status').getValue()} == Paid">
                    <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-sm" aria-hidden="true">money</i></button>
                    <span>Paid</span>
                </div>
				
				<div class="d-flex align-items-center" th:if="${student.activeProperty('Status').getValue()} == Approved">
                    <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-sm" aria-hidden="true">done</i></button>
                    <span>Approved</span>
                </div>
				
				<div class="d-flex align-items-center" th:if="${student.activeProperty('Status').getValue()} == Processed">
                    <button class="btn btn-icon-only btn-rounded btn-outline-info mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-sm" aria-hidden="true">money</i></button>
                    <span>Processed</span>
                </div>
                
                <div class="d-flex align-items-center" th:if="${student.activeProperty('Status').getValue()} == Declined">
                    <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-sm" aria-hidden="true">clear</i></button>
                    <span>Declined</span>
                </div>
                
				<div class="d-flex align-items-center" th:if="${student.activeProperty('Status').getValue()} == 'Pending approval'">
                    <button class="btn btn-icon-only btn-rounded btn-outline-info mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-sm" aria-hidden="true">refresh</i></button>
                    <span>Pending approval</span>
                </div>
                
</td>

<td class="text-xs font-weight-normal">			
				<div class="d-flex align-items-center" th:if="${#strings.contains(student.activeProperty('percentage').getValue(), '-')}">
                    <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-sm" aria-hidden="true">arrow_downward</i></button>
                    <span th:text="${#numbers.formatDecimal(student.activeProperty('Change').getValue(), 0, 'COMMA', 0, 'POINT')}"></span>
                </div>
				<div class="d-flex align-items-center" th:if="${student.activeProperty('percentage').getValue()}==''">
                    <button class="btn btn-icon-only btn-rounded btn-outline-info mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-sm" aria-hidden="true">arrow_right</i></button>
                    <span>No change</span>
                </div>
				<div class="d-flex align-items-center" th:if="${#strings.contains(student.activeProperty('percentage').getValue(), '+')}">
                    <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-sm" aria-hidden="true">arrow_upward</i></button>
                    <span th:text="${#numbers.formatDecimal(student.activeProperty('Change').getValue(), 0, 'COMMA', 0, 'POINT')}"></span>
                </div>
				
				
</td>
            
<td class="align-middle">
                  <button class="btn btn-link text-secondary mb-0" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-xs"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
                    <a th:onclick="getpayrolldata([[${student.activeProperty('id').getValue()}]],[[${student.activeProperty('payroll').getValue()}]]);" data-bs-target="#modalpayrolldataandreports" data-bs-toggle="modal" class="dropdown-item" href="javascript:;">View payroll</a>
                    <a th:onclick="getPayroll([[${student.activeProperty('id').getValue()}]]);" data-bs-target="#payrollmodal" data-bs-toggle="modal" class="dropdown-item">Edit</a>
                    <a th:href="@{/api/hr/deleteallowanceordeduction/{id}(id=${student.activeProperty('id').getValue()})}" th:reasonTitle="${student.activeProperty('payroll').getValue()}" 
                       id="btnDelete" class="dropdown-item btn-delete" data-bs-target="#confirmModal" data-bs-toggle="modal" href="javascript:;">Delete</a>
					<a th:href="@{/api/hr/proccesspayroll/{id}(id=${student.activeProperty('id').getValue()})}" class="dropdown-item" href="javascript:;">Process</a>
                    <a th:href="@{/api/hr/setpayrollstatus/{id}/{status}(id=${student.activeProperty('id').getValue()},status='Approved')}" class="dropdown-item" href="javascript:;">Approve</a>
                    <a th:href="@{/api/hr/setpayrollstatus/{id}/{status}(id=${student.activeProperty('id').getValue()},status='Declined')}" class="dropdown-item" href="javascript:;">Decline</a>
                    <a th:onclick="makepayrollpayment([[${student.activeProperty('id').getValue()}]]);" data-bs-target="#payrollpaymentmodal" data-bs-toggle="modal" class="dropdown-item" href="javascript:;">Make payment</a>
					<a th:href="@{/api/hr/sendpayrollnotification/{id}(id=${student.activeProperty('id').getValue()})}" class="dropdown-item" href="javascript:;">Send notification</a>
					<a th:onclick="viewpayrollpayments([[${student.activeProperty('id').getValue()}]],[[${student.activeProperty('payroll').getValue()}]]);" data-bs-target="#Viewpayrollpayments" data-bs-toggle="modal" class="dropdown-item" href="javascript:;">View payments</a>                    
				  </div>
</td>

</tr>  

</tbody>
</table>
</div>



</div>
</div>
</div>





</div>


<div th:replace="fragments/biometrics/footer"></div>

</main>


<div class="modal fade text-center" id="confirmModal" style="z-index:9999999;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold">Delete Confirmation</h5>
          <button aria-label="Close" class="btn-close text-dark" data-bs-dismiss="modal" type="button">
                        <span class="material-icons text-primary fs-3 mt-n2"  aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <span id="confirmText"></span>
        </div>

        <div class="modal-footer">
          <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
</div>





<div aria-hidden="true"  data-bs-backdrop="static" class="modal fade" id="modalpayrolldataandreports" role="dialog" style="z-index:9999;"  >
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="payrollmodaltitle" class="modal-title font-weight-normal"></h5>
                    <button aria-label="Close" class="btn-close text-primary" data-bs-dismiss="modal" type="button">
                        <span class="material-icons text-primary fs-3 mt-n2"  aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    		
							<div class="row overflow-auto">
							
									<div class="card">
									
										<div class="row mt-3 overflow-auto">
											<div class="col-lg-9">
												<div id="divpayrolldata"  class="table-responsive" >
																
												</div>
											</div>
											
											<div class="col-lg-3">
													
													  <button class="btn btn-link text-primary mb-2 text-capitalize mt-2 bg-gradient-light " id="payregisterpopup" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														  Pay register
													  </button>
													  <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="payregisterpopup">
														<a  class="dropdown-item" onclick="printpayregfrombasictogross()" href="javascript:;">Basic to gross</a>
														<a  class="dropdown-item" onclick="printpayregfromgrosstonet()" href="javascript:;">Gross to net pay</a>
														<a  class="dropdown-item" onclick="printpayregcombined()" href="javascript:;">Combined register</a>
													  </div>

													  
													  <button class="btn btn-link text-primary mb-2 text-capitalize mt-2 bg-gradient-light " id="payslips"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														  Pay slips
													  </button>													  
													  <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="payslips">
														<a  class="dropdown-item" onclick="printverticalpayslips()" href="javascript:;">Vertical</a>
														<a  class="dropdown-item" onclick="printhorizontalpayslips()" href="javascript:;">Horizontal</a>
													  </div>
													  
													  <button class="btn btn-link text-primary mb-2 text-capitalize mt-2 bg-gradient-light " id="taxreports" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														  Tax reports
													  </button>													  
													  <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="taxreports">
														<a  class="dropdown-item" onclick="printpayeereturns()" href="javascript:;">Payee returns</a>
														<a  class="dropdown-item" onclick="p9a()" href="javascript:;">P9.a</a>
														<a  class="dropdown-item" onclick="p10a()" href="javascript:;">P10</a>
														<a  class="dropdown-item" onclick="p9()" href="javascript:;">P9</a>
													  </div>
													  
													  
													  <button class="btn btn-link text-primary mb-2 text-capitalize mt-2 bg-gradient-light " id="statutoryreports" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														  Statutory
													  </button>													  
													  <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="statutoryreports">
														<a  class="dropdown-item" onclick="nhif()" href="javascript:;">Nhif report</a>
														<a  class="dropdown-item" onclick="nssf()" href="javascript:;">Nssf report</a>
														<a  class="dropdown-item" onclick="housing()" href="javascript:;">Housing report</a>
                                                        <a  class="dropdown-item" onclick="nita()" href="javascript:;">Nita report</a>
													  </div>
													  
													  
													  <button class="btn btn-link text-primary mb-2 text-capitalize mt-2 bg-gradient-light " id="totals" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														  Totals
													  </button>													  
													  <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="totals">
														<a  class="dropdown-item" onclick="banktotals()" href="javascript:;">Bank totals</a>
														<a  class="dropdown-item" onclick="payrolltotals()" href="javascript:;">Payroll totals</a>
													  </div>
													  
													  
													  
													  <button class="btn btn-link text-primary mb-2 text-capitalize mt-2 bg-gradient-light " id="otherreports" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														  Other reports
													  </button>													  
													  <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="otherreports">
														<a  class="dropdown-item" data-bs-target="#banknamemodal" data-bs-toggle="modal" href="javascript:;">Notes to bank Pdf</a>
														<a  class="dropdown-item" data-bs-target="#banknamemodalexcel" data-bs-toggle="modal" href="javascript:;">Notes to bank Excel</a>
														<a  class="dropdown-item" data-bs-target="#deductionsreportmodal" data-bs-toggle="modal" href="javascript:;">Deductions</a>
														<a  class="dropdown-item" data-bs-target="#earningssreportmodal" data-bs-toggle="modal" href="javascript:;">Earnings</a>
														<a  class="dropdown-item" onclick="netpay()" href="javascript:;">Net pay list</a>
														<a  class="dropdown-item" onclick="netgativepay()" href="javascript:;">Negative pay</a>
													  </div>
													  
													  
																	
																				
											</div>
										</div>
										
									</div>														
								
							</div>
							
					
		
					  
                </div>
               
            </div>
        </div>
</div>






<div aria-hidden="true"  data-bs-backdrop="static" class="modal fade" id="payrollpaymentmodal" role="dialog" style="z-index:9999;"  >
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                
				<div class="modal-header">
                    <h5 class="modal-title font-weight-normal">Make payroll payment</h5>
                    <button aria-label="Close" class="btn-close text-primary" data-bs-dismiss="modal" type="button">
                        <span class="material-icons text-primary fs-3 mt-n2"  aria-hidden="true">&times;</span>
                    </button>
                </div>
				
                <div class="modal-body">
				
						<form  method="post" id="payrollpaymentform" onsubmit="submitForm(event,'payrollpaymentform')" class="multisteps-form__form">                        
                    		
							<div class="form-check form-check-info text-start mb-3 ps-0 ms-0">
											<label class="form-control ms-0">Bank name</label>
											<select class="form-control mb-3" name="bank" id="itembank" required>
                                                <option></option>
												<option th:each="student: ${bankname}" th:value="${student.activeProperty('id').getValue()}" th:text="${student.activeProperty('bankname').getValue()}"></option>
											</select>
							</div>
							
							<div class="input-group input-group-dynamic mb-3">
							        <label class="form-label">Amount</label>
                                    <input id="amount" name="amount" class="multisteps-form__input form-control" type="text" required />
                            </div>

							<div class="input-group input-group-dynamic mb-3">
							        <label class="form-label">Cheque no</label>
                                    <input id="transnu" name="transnu" class="multisteps-form__input form-control" type="text" required />
                            </div>
							
							<div class="input-group input-group-dynamic mb-3">
							        <label class="form-label">Date paid</label>
                                    <input id="date" name="date" class="multisteps-form__input form-control" type="date" required />                         
                            </div>
							
							<input type="hidden" id="payroll"  name="payroll">
							
						</form>
					  
                </div>
				
				<div class="modal-footer">
					<button class="btn btn-success btn-block" form="payrollpaymentform" value="Submit" type="submit" data-toggle="modal" >Pay</button>
				</div>
				
               
            </div>
        </div>
</div>




<div aria-hidden="true"  data-bs-backdrop="static" class="modal fade" id="Viewpayrollpayments" role="dialog" style="z-index:9999;"  >
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                
				<div class="modal-header">
                    <h5 id="payrollpaymentstitle" class="modal-title font-weight-normal"></h5>
                    <button aria-label="Close" class="btn-close text-primary" data-bs-dismiss="modal" type="button">
                        <span class="material-icons text-primary fs-3 mt-n2"  aria-hidden="true">&times;</span>
                    </button>
                </div>
				
                <div class="modal-body">
				
						<div id="payrollpaymentsdiv" style="margin-left:-16px" class="table-responsive" >
												
												
						</div>
					  
                </div>
				
				<div class="modal-footer">
					<button class="btn btn-success btn-block" form="notestothebankform" value="Submit" data-dismiss="modal">Print</button>
				</div>				
               
            </div>
        </div>
</div>




<div aria-hidden="true"  data-bs-backdrop="static" class="modal fade" id="banknamemodal" role="dialog" style="z-index:9999;"  >
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                
				<div class="modal-header">
                    <h5 class="modal-title font-weight-normal">Notes to the bank pdf</h5>
                    <button aria-label="Close" class="btn-close text-primary" data-bs-dismiss="modal" type="button">
                        <span class="material-icons text-primary fs-3 mt-n2"  aria-hidden="true">&times;</span>
                    </button>
                </div>
				
                <div class="modal-body">
				
						<form  method="post" id="notestothebankform" onsubmit="submitForm(event,'notestothebankform')" class="multisteps-form__form">                        
                    		
							<div class="form-check form-check-info text-start mb-3 ps-0 ms-0">
											<label class="form-control ms-0">Bank name</label>
											<select class="form-control mb-3" name="itembanknotes" id="itembanknotes" required>
												<option th:each="student: ${bankname}" th:value="${student.activeProperty('id').getValue()}" th:text="${student.activeProperty('bankname').getValue()}"></option>
											</select>
							</div>	

							
						</form>
					  
                </div>
				
				<div class="modal-footer">
					<button class="btn btn-success btn-block" onclick="printsalariestotebank()" data-dismiss="modal">Print</button>
				</div>				
               
            </div>
        </div>
</div>




<div aria-hidden="true"  data-bs-backdrop="static" class="modal fade" id="banknamemodalexcel" role="dialog" style="z-index:9999;"  >
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                
				<div class="modal-header">
                    <h5 class="modal-title font-weight-normal">Notes to the bank Excel</h5>
                    <button aria-label="Close" class="btn-close text-primary" data-bs-dismiss="modal" type="button">
                        <span class="material-icons text-primary fs-3 mt-n2"  aria-hidden="true">&times;</span>
                    </button>
                </div>
				
                <div class="modal-body">
				
						<form  method="post" id="notestothebankform" onsubmit="submitForm(event,'notestothebankform')" class="multisteps-form__form">                        
                    		
							<div class="form-check form-check-info text-start mb-3 ps-0 ms-0">
											<label class="form-control ms-0">Bank name</label>
											<select class="form-control mb-3" name="itembank" id="itembankcsv" required>
												<option th:each="student: ${bankname}" th:value="${student.activeProperty('id').getValue()}" th:text="${student.activeProperty('bankname').getValue()}"></option>
											</select>
							</div>	

							
						</form>
					  
                </div>
				
				<div class="modal-footer">
					<button class="btn btn-success btn-block" onclick="printsalariestotebankcsv()" data-dismiss="modal">Print</button>
				</div>				
               
            </div>
        </div>
</div>




<div aria-hidden="true"  data-bs-backdrop="static" class="modal fade" id="deductionsreportmodal" role="dialog" style="z-index:9999;"  >
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                
				<div class="modal-header">
                    <h5 class="modal-title font-weight-normal">Deductions report</h5>
                    <button aria-label="Close" class="btn-close text-primary" data-bs-dismiss="modal" type="button">
                        <span class="material-icons text-primary fs-3 mt-n2"  aria-hidden="true">&times;</span>
                    </button>
                </div>
				
                <div class="modal-body">
				
						<form  method="post" id="deductionsreportform" onsubmit="submitForm(event,'deductionsreportform')" class="multisteps-form__form">                        
                    		
							<div class="form-check form-check-info text-start mb-3 ps-0 ms-0">
											<label class="form-control ms-0">Deduction</label>
											<select class="form-control mb-3" name="item" id="itemdeduction" required>
												<option th:each="student: ${deductions}" th:value="${student.activeProperty('id').getValue()}" th:text="${student.activeProperty('deduction').getValue()}"></option>
											</select>
							</div>	

							
						</form>
					  
                </div>
				
				<div class="modal-footer">
					<button class="btn btn-success btn-block" onclick="Deductions_Report()" data-dismiss="modal">Print</button>
				</div>				
               
            </div>
        </div>
</div>



<div aria-hidden="true"  data-bs-backdrop="static" class="modal fade" id="earningssreportmodal" role="dialog" style="z-index:9999;"  >
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                
				<div class="modal-header">
                    <h5 class="modal-title font-weight-normal">Earnings report</h5>
                    <button aria-label="Close" class="btn-close text-primary" data-bs-dismiss="modal" type="button">
                        <span class="material-icons text-primary fs-3 mt-n2"  aria-hidden="true">&times;</span>
                    </button>
                </div>
				
                <div class="modal-body">
				
						<form  method="post" id="deductionsreportform" onsubmit="submitForm(event,'deductionsreportform')" class="multisteps-form__form">                        
                    		
							<div class="form-check form-check-info text-start mb-3 ps-0 ms-0">
											<label class="form-control ms-0">Earning</label>
											<select class="form-control mb-3" name="item" id="itemearning" required>
												<option th:each="student: ${allownces}" th:value="${student.activeProperty('id').getValue()}" th:text="${student.activeProperty('earning').getValue()}"></option>
											</select>
							</div>	

							
						</form>
					  
                </div>
				
				<div class="modal-footer">
					<button class="btn btn-success btn-block" onclick="Earnings_Report()" data-dismiss="modal">Print</button>
				</div>				
               
            </div>
        </div>
</div>




<div aria-hidden="true"  data-bs-backdrop="static" class="modal fade" id="payrollmodal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-normal">New Payroll</h5>
                    <button aria-label="Close" class="btn-close text-dark" data-bs-dismiss="modal" type="button">
                        <span class="material-icons text-primary fs-3 mt-n2"  aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                      <form th:action="@{/api/hr/addpayroll}"  method="post" id="payrollform" class="multisteps-form__form">
                        
                            <div class="row mt-3">
                                <div class="input-group input-group-dynamic">
                                    <label class="form-label">Date created</label>
                                    <input id="date" name="date" class="multisteps-form__input form-control" type="date" required />
                                </div>
                            </div>
														
							
                            <input type="hidden" id="id"  name="id">

                        </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"  form="payrollform" type="submit">Save</button>
                </div>
                
            </div>
        </div>
</div>



<div id="modalprogress2" class="modal fade" style="z-index:50000;">
			<div class="modal-dialog modal-confirmloading">
				<div class="modal-content">
					
					<div class="modal-header flex-column">
						<h4 class="alignleft" style="margin-top:-20px">Please wait..</h4>			
					</div>			
					
					<div class="modal-body">
						
						<div class="row" >           
							<div class="column">
								<div class="main-">
									<div class="double-lines-spinner" style="margin-left:0px"></div>
								</div>
							</div>
							<div class="column" style="margin-left:30px">
								<h4 class="modal-title w-100" style="font-size: 20px;">Loading data</h4> 
							</div>
						</div>
						
					</div>
					``
				</div>
			</div>
</div>


<div th:replace="fragments/biometrics/uisettings"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="application/javascript" th:src="@{/assetsbio/js/core/popper.min.js}"></script>
<script type="application/javascript" th:src="@{/assetsbio/js/jquery.autocomplete.js}"></script> 
<script type="application/javascript" th:src="@{/assetsbio/js/core/bootstrap.min.js}"></script>
<script type="application/javascript" th:src="@{/assetsbio/js/plugins/perfect-scrollbar.min.js}"></script>
<script type="application/javascript" th:src="@{/assetsbio/js/plugins/smooth-scrollbar.min.js}"></script>
<script type="application/javascript" th:src="@{/assetsbio/js/plugins/chartjs.min.js}"></script>
<script type="application/javascript" th:src="@{/assetsbio/js/material-dashboard.min.js?v=3.0.6}"></script>
<script type="application/javascript" th:src="@{/assetsbio/js/plugins/fullcalendar.min.js}"></script>
<script type="application/javascript" th:src="@{/assetsbio/js/plugins/dropzone.min.js}"></script>
<script type="application/javascript" th:src="@{/assetsbio/js/plugins/quill.min.js}"></script>
<script type="application/javascript" th:src="@{/assetsbio/js/plugins/choices.min.js}"></script>
<script type="application/javascript" th:src="@{/assetsbio/dynamicjs/dynamicjshr.js}"></script>
<script type="application/javascript" th:src="@{/assetsbio/js/plugins/datatables.js}"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script type="application/javascript" th:src="@{/assetsbio/jsmuoltistepjs/MultiStep.js}"></script>


<script>



	var element = document.getElementById('itembank');
	const itembank= new Choices(element, {
		searchEnabled: false
	});
    
    var element = document.getElementById('itembanknotes');
	const itembanknotes= new Choices(element, {
		searchEnabled: false
	});
    
    var element = document.getElementById('itembankcsv');
	const itembankcsv= new Choices(element, {
		searchEnabled: false
	});
    
	
	var element = document.getElementById('itemdeduction');
	const itemdeduction = new Choices(element, {
		searchEnabled: false
	});
    
    var element = document.getElementById('itemearning');
	const itemearning = new Choices(element, {
		searchEnabled: false
	});
    
    

    const dataTableSearch = new simpleDatatables.DataTable("#payrolltable", {
      searchable: true,
      fixedHeight: false
    });
	
	
	
	$(".btn-delete").on("click", function (e) {
        e.preventDefault();
        link = $(this);
        reasonTitle = link.attr("reasonTitle");
        $("#yesBtn").attr("href", link.attr("href"));
        $("#confirmText").html("Do you want to delete payroll for the month of \<strong\>" + reasonTitle + "\<\/strong\>?");
	});

    document.querySelectorAll(".export").forEach(function(el) {
      el.addEventListener("click", function(e) {
        var type = el.dataset.type;

        var data = {
          type: type,
          filename: "material-" + type,
        };

        if (type === "csv") {
          data.columnDelimiter = "|";
        }

        dataTableSearch.export(data);
      });
    });
 
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

</body>
</html>