
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>
        List of Transactions
    </title>
    <div th:replace="~{fragments/head}"></div>
</head>

<body class="g-sidenav-show text-xxs bg-gray-200">

<div th:replace="~{fragments/sidenav}"></div>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <div th:replace="~{fragments/navbar}"></div>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3" th:text="${bankName}"></h6>
                        </div>
                    </div>

                    <div id="successMessage" th:if="${message}" class="alert alert-success" th:text="${message}"></div>
                    <div id="errorMessage" th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive timetable p-0">
                            <div></div>
                            <table id="accountsTable" class="table align-items-center justify-content-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ref #</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Payee/Payer</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Debit</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Credit</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Iterate through the members list and populate the table rows -->
                                <tr th:each="transaction : ${accountTransactions}">

                                    <!-- Member properties -->
                                    <td th:text="${transaction.date}"></td>
                                    <td th:text="${transaction.ref}"></td>
                                    <td th:text="${transaction.payeePayer}"></td>
                                    <td data-bs-toggle="tooltip" data-bs-placement="bottom" th:title="${transaction.description}" data-container="body" data-animation="true" th:text='${transaction.description.length <= 20 ? transaction.description : transaction.description.substring(0, 20) + "..."}'>
                                    </td>
                                    <td th:text="${#numbers.formatDecimal(transaction.debit, 0, 'COMMA', 2, 'POINT' )}"></td>
                                    <td th:text="${#numbers.formatDecimal(transaction.credit, 0, 'COMMA', 2, 'POINT' )}"></td>
                                    <td th:text="${transaction.status}"></td>
                                    <td>
                                        <button class="btn btn-link text-secondary mb-0" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v text-xs"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
                                            <a th:onclick="|openEditModal('transaction','${transaction.id}')|" class="dropdown-item" href="javascript:;">Edit</a>
<!--
                                            <a onclick="print('/api/inv/printRequisitionForm/${data}')" class="dropdown-item" href="javascript:;">Print</a>
-->

                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer}"></div>
    </div>
</main>
<div th:replace="~{fragments/ui_settings}"></div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-body pb-3">
                        <form role="form" method="post" th:action="@{/finance/banking/transaction/update}">
                            <input type="hidden" name="id" class="form-control">
                            <div class="input-group input-group-outline my-3 is-filled">
                                <label class="form-label">Date</label>
                                <input type="date" name="date" class="form-control">
                            </div>
                            <div class="input-group input-group-outline my-3">
                                <select name="bank" class="form-select">
                                    <option selected disabled>Paid/Received through</option>
                                    <option th:each="account : ${bankAccounts}" th:value="${account.id}" th:text="${account.accountName}" th:selected="${account.id == bankId}"></option>
                                </select>
                            </div>
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Payee/Payer</label>
                                <input type="text" name="payeePayer" class="form-control">
                            </div>
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Description</label>
                                <input type="text" name="description" class="form-control">
                            </div>
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Transaction #/Check #</label>
                                <input type="text" name="transRef" class="form-control">
                            </div>
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Receipt Amount</label>
                                <input type="number" name="credit" class="form-control">
                            </div>
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Payment Amount Code</label>
                                <input type="number" name="debit" class="form-control">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn bg-gradient-primary btn-lg btn-rounded w-100 mt-4 mb-0">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/assets/js/material-dashboard.min.js?v=3.0.5"></script>
<script !src="">

   $(document).ready(function () {
       $('#accountsTable').DataTable({
           responsive: true
       });
   });
    function searchPerson() {
        var query = $('#searchPerson').val();
        console.log(query);
        recTypeUrl = '/api/member/search';
        $.post(recTypeUrl, {query: query}, function(results) {
            console.log(results);
            var dropdown = $("#person .searchResults");
            if (query === "") {
                dropdown.empty();
                return;
            }
            dropdown.empty();
            for (var i = 0; i < results.length; i++) {
                var student = results[i].student;
                var teacher = results[i].teacher;
                var option = $("<option>")
                    .attr("value", results[i].admNo)
                    .text(student)
                    .click(function() {
                        $('#searchPerson').val($(this).text());
                        dropdown.empty()
                    })
                    .hover(function() {
                        $(this).addClass('highlighted');
                    }, function() {
                        $(this).removeClass('highlighted');
                    });
                dropdown.append(option);
                var teacherOption = $("<option>")
                    .attr("value", results[i].tscNo)
                    .text(teacher)
                    .click(function() {
                        $('#searchPerson').val($(this).text());
                        dropdown.empty()
                    })
                    .hover(function() {
                        $(this).addClass('highlighted-teacher');
                    }, function() {
                        $(this).removeClass('highlighted-teacher');
                    });
                dropdown.append(teacherOption);
            }
        });
    }
</script>
</body>

</html>